$black: black;
$blue: #00DFFC;
$dullWhite: #f6f6f6;
$easing: cubic-bezier(.6, .05, .28, .91);
* {
  box-sizing: border-box;
}

body {
  background-color: $black;
  font-family: 'Space Mono', monospace;
  color: white;
  //overflow: hidden;
}

#btn {
  position: fixed;
  z-index: 5;
  top: 15px;
  left: 15px;
  cursor: pointer;
  transition: left 500ms $easing;
  div {
    width: 50px;
    height: 10px;
    margin-bottom: 6px;
    background-color: white;
    transition: transform 500ms $easing, opacity 500ms, background-color 250ms;
}
}

#btn.active {
  left: 15px;
  div {
    background-color: $black;
    height: 4px
}
  #top {
    transform: translateY(10px) rotate(-135deg);
}
  #middle {
    opacity: 0;
    transform: rotate(135deg);
}
  #bottom {
    transform: translateY(-10px) rotate(-45deg);
}
}

#box {
  position: fixed;
  z-index: 4;
  overflow: auto;
  top: 0px;
  left: -150px;
  width: 150px;
  opacity: 0;
  padding: 20px 0px;
  height: 100%;
  background-color: $dullWhite;
  color: $black;
  transition: all 350ms $easing;
}

#box.active {
  left: 0px;
  opacity: 0.9;
}

#box #items {
  height: 90%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  .nav-rhcp {
    background-image: url("C:\\Users\\Karlis\\Desktop\\Dizaina-md\\img\\svg\\grayscale\\Peppers-grayscale.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    margin-bottom: 10px;
  }
  .nav-rhcp:hover {
    background-image: url("C:\\Users\\Karlis\\Desktop\\Dizaina-md\\img\\svg\\Peppers-black.svg");
  }
  .nav-jimi {
    background-image: url("C:\\Users\\Karlis\\Desktop\\Dizaina-md\\img\\svg\\grayscale\\Jimi-grayscale.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    margin-bottom: 10px;
  }
  .nav-jimi:hover {
    background-image: url("C:\\Users\\Karlis\\Desktop\\Dizaina-md\\img\\svg\\Jimi.svg");
  }
  .nav-floyd {
    background-image: url("C:\\Users\\Karlis\\Desktop\\Dizaina-md\\img\\svg\\grayscale\\PinkFloyd-grayscale-v2.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    margin-bottom: 10px;
  }
  .nav-floyd:hover {
    background-image: url("C:\\Users\\Karlis\\Desktop\\Dizaina-md\\img\\svg\\PinkFloyd.svg");
  }
  .nav-alice {
    background-image: url("C:\\Users\\Karlis\\Desktop\\Dizaina-md\\img\\svg\\grayscale\\Alice-grayscale.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    margin-bottom: 10px;
  }
  .nav-alice:hover {
    background-image: url("C:\\Users\\Karlis\\Desktop\\Dizaina-md\\img\\svg\\Alice.svg");
  }
  .nav-soundgarden {
    background-image: url("C:\\Users\\Karlis\\Desktop\\Dizaina-md\\img\\svg\\grayscale\\Soundgarden-grayscale.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    margin-bottom: 10px;
  }
  .nav-soundgarden:hover {
    background-image: url("C:\\Users\\Karlis\\Desktop\\Dizaina-md\\img\\svg\\Soundgarden.svg");
  }

  .item {
    height: 100px;
    width: 100%;
    position: relative;
    text-align: center;
    cursor: pointer;
    color: black;
    text-transform: uppercase;
    font-size: 2em;
    padding: 15px 30px;
    transition: all 250ms;
    .icon-hover {
      display: none;
    }

  }
}
a {
  text-decoration: none;
  color: black;
}

#btn, #btn * {
  will-change: transform;
}

#box {
  will-change: transform, opacity;
}
.logo-container {
  text-align: center;
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 100%;
  transform: rotate(-10deg) translateY(-50%);
}

.logo {
  display: inline-block;
  width: 19%;
  text-align: center;
  transform: rotate(10deg);
  img {
    width: 80%;
    margin: auto;
  }
}

.whole-group img {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 5%;
}

.text-box {
  background-color: white;
  opacity: 0.8;
  color: black;
  margin-left: 3%;
  margin-right: 3%;
  .title {
    width: 100%;
  }
  .title h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 5vw;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 2%;
  }
  .main-text{
    margin-right: 5%;
    margin-left: 5%;
    font-size: 1.25vw;
  }
}
.first {
  font-size: 4vw;
  text-transform: uppercase;
  bottom: -0.02em;
  line-height:0.75em;
}
.hendrix {
  width: 100%;
}
a:hover {
  color: black;
  text-decoration: none;
}
.rhcp-group-desktop {
  display: block;
}
.group-mobile{
  display: none;
}

@media (max-width: 750px){
  .text-box .main-text {
    font-size: 2.8vw;
  }
  .text-box {
    margin-left: 1%;
    margin-right: 1%;
  }
  .main-text{
    margin-right: 3%;
    margin-left: 3%;
  }
  .first {
    font-size: 5vw;
  }
  .text-box .title h1 {
    font-size: 6vw;
  }

}
@media (max-width: 575px) {
  .rhcp-group-desktop {
    display: none;
  }
  .group-mobile{
    display: block;
  }
}
@media (max-width: 815px) {
  .logo {
    width: 18%;
  }
}
@media (max-width: 415px) {
  .logo {
    width: 17%;
  }
}
@media (max-width: 280px) {
  .logo {
    width: 16%;
  }
}